hr {
    width: 100%;
    border: 1px solid black;
    margin: 0.1rem;
}

.character-sheet {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__column {
        height: 100%;
        width: 31%;
    }

    &__block {
        border: 1px solid black;
        border-radius: 0.2rem;
        min-height: 1rem;
        padding: 1rem;

        & + & {
            margin-block-start: 1rem;
        }

        &--skills-and-proficiencies {
            display: flex;
            flex-flow: row wrap;

            > h2 {
                margin-top: 0;
                width: 100%;
            }
        }

    }

    &__proficiencies {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 20%;
        margin-inline-end: 0.3rem;

        > label {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:first-child) {
                margin-block-start: 0.5rem;
            }

            > * + * {
                margin-block-start: 0.3rem;
            }
        }
    }

    &__skills {
        min-width: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__skill {
        display: flex;
        align-items: center;

        input[type=number] {
            margin-inline-start: auto;
            margin-inline-end: 1rem;
            width: auto;
        }

        & + & {
            margin-block-start: 0.2rem;
        }
    }

    &__skill-score {
        white-space: nowrap;
    }
}

small {
    font-size: 0.5rem;
}
